<section class ="master-form">
  <%= form_for @master do |f| %>

    <div class="form-group">
      <%= f.label :nome, "Nome" %>
      <%= f.text_field :nome, class: "form-control" %>
    </div>

    <%= f.submit "Enviar" %>
  <% end %>
</section>
