<div class="container master-form">
  <div class="row">
    <div class="col-sm">
      <span class="badge badge-secondary">Mestre</span>
      <%= form_for @master do |f| %>

        <div class="form-group">
          <%= f.label :nome, "Qual o seu nome?" %>
          <%= f.text_field :nome, class: "form-control" %>
        </div>

        <%= f.submit "Enviar" %>
      <% end %>
    </div>
  </div>
</div>
