
<div class="modal fadebd-example-modal-lg" id="viewMerchantModal" tabindex="-1" role="dialog" aria-labelledby="viewMerchantModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewMerchantModalLabel">Itens do Mercador</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Preço</th>
              <th scope="col">Descrição</th>
            </tr>
          </thead>
           <tbody>
            <% @itens.each do |item| %>
              <tr>
                  <td><%= item.name %></td>
                  <td><i class="fas fa-gem" id="sheet-ruby-icon" data-fa-transform="rotate-45"></i> <%= item.price %></td>
                  <td><%= item.description %></td>
              </tr>
            <% end %>
           </tbody>
         </table>
      </div>
    </div>
  </div>
</div>
