<div class="home-video-wrapper">
  <%= video_tag "localandia.mp4", autoplay: :autoplay, class: "home_video"  %>

  <%= link_to  home_index_path, class: 'btn start', title:"Jogar"  do %>
    <i class="fa fa-play"></i> Jogar
  <% end %>
</div>
