<div class="container name-container">
  <div class="row">
    <div class="col-sm">

      <section class ="character-form">
        <%= form_for @character do |f| %>

          <div class="form-group">
            <%= f.label :nome, "Qual o seu nome ? " %>
            <%= f.text_field :nome, class: "form-control" %>
          </div>

          <%= f.submit "Enviar" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
