.name-container {
  height: 100%;
  position: relative;
  min-height: 100vh;

  .character-form {
    margin-top: 100px;
    input[type="submit"] {
      background-color: #432873;
      color: #fff;
      border-color: #ae00ff;
      padding: 5px 10px;
    }
    input[type="submit" i] {
      background-color: #432873;
      border-color: #ae00ff;
    }
  }
}



.character-game-form,
.character-choice-form {
  margin-top: 100px;
  .col-sm {
    margin-bottom: 50px;
  }
  h2 {
    color: #432873;
    font-size: 23px;
  }
  input[type="submit"] {
    background-color: #432873;
    color: #fff;
    border-color: #ae00ff;
    padding: 5px 10px;
  }
  input[type="submit" i] {
    background-color: #432873;
    border-color: #ae00ff;
  }
}

.character-game-form {
  .card {
    .card-text {
      text-transform: capitalize;
    }
  }
}

.character-choice-form {
  .card {
    min-height: 190px;
    margin-bottom: 30px;
    min-height: 180px;
    p.card-text {
      font-size: 14px;
    }
  }
  .row {
    .col-md-6:last-child .card {
      min-height: 282px;
    }
  }
  .card-title {
    font-weight: 700;
    font-size: 17px;
    display: inline-block;
  }
  .class-image {
    color: #d01010;
    display: inline-block;
    float: right;
    svg {
      width: 40px;
      height: 40px;
      color: #d01010;
      fill: currentColor;
    }
  }
}

.characteristics-form {
  margin-top: 50px;
  h2 {
    color: #432873;
    font-size: 23px;
    margin-bottom: 50px;
  }
  p {
    margin-bottom: 0;
  }
  input[type="submit"] {
    background-color: #432873;
    color: #fff;
    border-color: #ae00ff;
    padding: 5px 10px;
    margin-bottom: 30px;
  }
  input[type="submit" i] {
    background-color: #432873;
    border-color: #ae00ff;
  }
  input[type="submit"]:disabled {
    background-color: #2b2a2b82;
  }
  .card {
    min-height: 190px;
    margin-bottom: 30px;
    min-height: 180px;
    p.card-text {
      font-size: 14px;
    }
    label {
      margin-bottom: 0.75rem;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.2;
    }
    .progress {
      width:75%;
      display: inline-flex;
      border-radius: 5px 0 0 5px;
      height: 25px;
    }
    .progress-bar {
      background-color: #432b73;
      width: 11%;
    }
    .form-control {
      width:20%;
      display: inline-flex;
      position: absolute;
      height: 27px;
      border-radius: 0 5px 5px 0px;
      outline: none !important;
      box-shadow: none !important;
    }
  }
  .characteristics-tips {
    .card {
      background-color: #432873;
      color: #fff;
    }
    .title-tips {
      display: inline-block;
      font-size: 17px;
      margin-bottom: 14px;
    }
    .total-points-number {
      margin: 0 5px;
      display: inline-block;
      font-weight: 700;
    }
    ul {
      margin-left: 0;
      padding-left: 16px;
    }
  }
}
