@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

$highlight-font: 'Love Ya Like A Sister', cursive;
$handwrite-font: 'Indie Flower', cursive;
$default-font: 'Kumbh Sans', sans-serif;

$white: #fff;
$purple: #432873;
$neon-green: #60BF2A;

$purple: #3f2f44;
// $dark-blue: #0e2d58;
$dark-blue: $purple;
$light-blue: #6893d0;
$red: #ef0743;

$red2: #f74e52;

$button-text: $white;
$button-background-color: $red;
$button-border-color: #ffb3b3;
$button-background-disabled:#2b2a2b82;

$title-primary: $dark-blue;

$icon-color: $red;
$icon-background: $white;


$ruby-color: #f24e51;
$trophy-color: #ffc107;

$background-primary: $dark-blue;
$background-body: #f9f9f9;
$text-body: #34313a;

$player-background-color: #001c42;

$card-subtitle-color: #505050;

$input-border: #ccc;

$link-primary: $purple;

.light-grey {
  background-color: $background-body;
}

.form-control:focus {
  border-color: $light-blue;
  box-shadow: 0px 0px 0px 0.2rem rgba(15,55,111W,0.2);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.badge-secondary {
  color: $button-text;
  background-color: $button-background-color;
  font-family: $highlight-font;
}

input[type="submit"] {
  background-color: $button-background-color;
  color: $button-text;
  border-color: $button-border-color;
  font-family: $highlight-font;
}
input[type="submit"]:focus {
  outline-color:  $button-border-color;
}

input[type="submit" i] {
  background-color: $button-background-color;
  border-color: $button-border-color;
}

input[type="submit"]:disabled {
  background-color: $button-background-disabled;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}

body {
  background-color: $background-body;
  font-family: $default-font;
  color: $text-body;
}

.navbar.navbar-dark.bg-dark {
  background-color: $red2 !important;
  color: $button-text;
  .navbar-text {
    color: $button-text;
  }
  .text-secondary  {
    color: $button-text !important;
  }
}

.player-navbar {
  background-color: $player-background-color;
  padding: 40px 0;
  color: $button-text;
}
.player-navbar.purple {
  background-color: $purple;
}
.card-footer {
  background-color: $white;
}
