.login-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  top: 0;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: $button-text;
  .login-form {
    padding-top: 70px;
    .row{
      background-color: rgba(8,32,53,0.93);
      padding: 30px;
    }
    a {
      color: $button-background-color;
    }
  }
  form#new_user {
    margin-top: 20px;
    input{
      background-color: rgba(255, 255, 255, 0.8);
      border-color: $button-text;
      border-radius: 5px;
    }
    a {
      color: $button-background-color;
    }
    .field {
      margin-top: 10px;
    }
    .actions {
      margin: 15px 0;
      input{
        background-color: $button-background-color;
        border-color:  $button-background-color;
        color: $button-text;
      }
    }
  }
}
