.master-index,
.master-form {
  margin-top: 100px;
  height: 100%;
  position: relative;
  min-height: 100vh;
  label {
    font-size: 18px;
    margin: 10px 0;
  }
}
.master-index {
  .character-info {
    margin: 30px 0;
  }
  .card {
    .btn {
      background-color: $dark-blue;
      color: $button-text;
      border-color: $light-blue;
      font-family: $highlight-font;
    }
  }
  .card-title {
    font-weight: 700;
    font-size: 17px;
    display: inline-block;
  }
  .card-subtitle {
    font-size: 14px;
    color: $card-subtitle-color;
  }
  .character-icon {
    height: 80px;
    width: 80px;
    display: inline-block;
    float: right;
    svg {
        color: $icon-color;
        fill: currentColor;
        margin: 17px;
        width: 43px;
        height: 43px;
    }
  }
  .player-card-attributes {
    margin-top: 25px;
  }

  .changeable-attributes {
    margin: 10px 0px 10px -10px;
    .changeable-item {
      display: inline-block;
    }
    spam {
      margin-right: 5px;
      margin-left: 5px;
    }
    svg {
      margin-left: 5px;
      color: $icon-color;
      fill: currentColor;
    }
    .fa-trophy {
      color: #dea702;
    }
    .fa-mug-hot{
      color: #715006
    }
    .fa-heart, .fa-gem{
      color: $ruby-color;
    }
    input[type=number] {
      width: 60px;
    }
    input#quantity {
      border: 1px solid $input-border;
      border-radius: 4px;
    }
    .make-magic {
      margin-left: 5px;
      background-color: $button-background-color;
      padding: 2px 10px;
      border-color: $button-background-color;
    }
    .make-magic svg {
      margin-left: 0px;
      color: $white;
      fill: currentColor;
      width: 25px;
      height: 25px;
    }
    .btn:focus , .btn.focus  {
      background-color: $white;
    }
    .btn:focus svg, .btn.focus svg {
      color: $button-background-color;
    }
  }
  .changeable-item.info-bar {
    display: block;
    .progress {
      width: 200px;
      display: inline-flex;
      .life-bar {
        background-color: #f74e52;
        width: 100%;
      }

    }
    input[type=number] {
      border: 1px solid #ccc;
      padding-right: 0;
      width: 45px;
    }
    input[type=number]:focus {
      outline: none;
    }
  }
  .player-characteristics {
    font-size: 14px;
    .characteristics-title {
      font-weight: 700;
      font-size: 15px;
      display: block;
    }
    svg.svg-inline--fa {
      font-size: 18px;
      margin: 15px 10px 0 0;
      width: 15px;
    }
    .fa-running {
      color: #f24e50
    }
    .fa-smile-wink {
      color: #f7c109
    }
    .fa-book {
      color: #616AF5
    }
    .fa-dumbbell {
      color: #60BF2A
    }
    .fa-heartbeat {
      color: #f24e51
    }
  }
  .character-inventory {
    height: 187px;
    overflow-y: scroll;
    table {
      font-size: 12px;
    }
  }
  .modal {
    #quantity {
      width: 75px;
    }
  }
}
