.master-index,
.master-form {
  margin-top: 100px;
  height: 100%;
  position: relative;
  min-height: 100vh;
  label {
    font-size: 18px;
    margin: 10px 0;
  }
}

.master-index {
  .character-info {
    margin: 30px 0;
  }
  .card-title {
    font-weight: 700;
    font-size: 17px;
    display: inline-block;
  }
  .card-subtitle {
    font-size: 14px;
    color: $card-subtitle-color;
  }
  .character-icon {
    height: 80px;
    width: 80px;
    display: inline-block;
    float: right;
    svg {
        color: $icon-color;
        fill: currentColor;
        margin: 17px;
        width: 43px;
        height: 43px;
    }
  }
  .changeable-attributes {
    margin: 10px 0px 10px -10px;
    .changeable-item {
      display: inline-block;
      margin-left: 5px;
    }
    spam {
      margin-right: 5px;
      margin-left: 5px;
    }
    svg {
      margin-left: 5px;
      color: $icon-color;
      fill: currentColor;
    }
    input#quantity {
      width: 56px;
      border: 1px solid $input-border;
      border-radius: 4px;
    }
  }
  .player-characteristics {
    font-size: 14px;
    .characteristics-title {
      font-weight: 700;
      font-size: 15px;
      display: block;
    }
  }
}
